.row{
   margin:10px 0;
}
.color{ color:#C03}
.bold{ font-weight:bold;}
.bor{ border:1px solid #ebecee}
.hx_list{ margin:0 10px;color:#333;border:1px solid #ebecee;font-size:14px; }
.hx_list_h1{ background:#f9fbff; line-height:1.5;padding:5px 0; text-indent:2em; font-size:14px; }
.hx_list_h2{ padding:15px 0}
.hx_list_h2 span{ float:left; margin-left:20px}
.hx_list_h2 input{ border:1px solid #ebecee; line-height:30px; height:30px; width:100px; padding:0 5px;}
.hx_list_h2 select{ line-height:30px;border:1px solid #ebecee; text-align:center; width:100px; height:30px}
.hx_list_h2 .price input{ width:60px}
.hx_list_h2 a{ display:inline-block; width:60px; height:30px; line-height:30px; background:#fff; text-align:center; border:1px solid #ebecee; border-radius:2px; margin-left:10px}
.hx_table{ padding:0 20px}
.hxy_table{ margin:15px 0; }
.hxy_table th{ background:#f9fbff}
.hxy_table{border-collapse: collapse;border: none;width: 100%; text-align:center;border:1px solid #ebecee}
.hxy_table td,.hxy_table th{ border-bottom:1px solid #ebecee; padding:10px 0;text-align:center;}
.hxy_table td.text{height:80px;padding-left:80px;}
.hxy_table .text{ text-align:center; position:relative }
.hxy_table .sp1{ position:absolute; display:block; position:absolute; top:10px;  left:10px;}
.cf:after { visibility:hidden; display:block; font-size:0; content:"."; clear:both; height:0;}
.cf { zoom:1;}
/*商品修改*/
.hx_modify{ padding:15px; font-size:14px}
.hx_modify dl{ width:100%}
.hx_modify dt{ float:left; width:30%; text-align:right; line-height:30px; font-size:14px}
.hx_modify dd{ float:left; width:70%;}
.hx_modify input{ width:180px; height:30px; line-height:30px; padding:0 10px; margin-left:10px}
.modify_h2{ padding:5px 0; }
.hx_modify span{ display:inline-block;}
.hx_modify span input{ width:auto; vertical-align:-8px; margin-right:5px}
.modify_h3 textarea{ width:300px; height:200px; resize:none; padding:10px;  line-height:15px}